<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271062688244-e32udcijs4tbt4r0blo9vl5fgk18k8vj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271062688244-e32udcijs4tbt4r0blo9vl5fgk18k8vj</string>
	<key>API_KEY</key>
	<string>AIzaSyBLWzf0QyQM7PU8qSuIGp8JUrCNoSdTQG4</string>
	<key>GCM_SENDER_ID</key>
	<string>271062688244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherApp</string>
	<key>PROJECT_ID</key>
	<string>weather-app-cc865</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-cc865.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271062688244:ios:b038a452d530bb86cbd9a1</string>
</dict>
</plist>